@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Azure Store</h1>
        <p class="lead">Welcome to the azure store, for all your azure needs.</p>
        <a class="btn btn-primary" href="/ContactUs/Index">Find out more...</a>
    </div>

</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div class="well well-sm">
            <h2>Queues and you</h2>
            <p class="lead">Learn how to use messaging to your advantage with Azure Service Bus queues and topics</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well well-sm">
            <h2>Let WebJobs do your work for you</h2>
            <p class="lead">Azure WebJobs work so you don't have to</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well well-sm">
            <h2>Host your site for free in less than 15 minutes</h2>
            <p class="lead">Use Azure's free tier to drive down your development costs</p>
        </div>
    </div>
</div>
